/* - - - - - - - - - - - - - - - - - - - - -
Context Sensitive Help window (view_help.php)

$Id: module_help_manual.css 7989 2010-06-20 14:34:23Z benni $
- - - - - - - - - - - - - - - - - - - - - */

div.typo3-view-help img.c-inlineimg {

}

div.typo3-view-help div.c-toc ul li {
	margin-top: 10px;
}

div.typo3-view-help div.c-toc ul li ul li {
	margin-top: 0px;
}

div.typo3-view-help p.c-nav {
	margin: 10px 10px 0 10px;
}