/* - - - - - - - - - - - - - - - - - - - - -
Web > Access

$Id: module_web_access.css 7906 2010-06-13 14:56:44Z ohader $
- - - - - - - - - - - - - - - - - - - - - */

table#typo3-permissionList img {
	vertical-align: middle;
}

table#typo3-permissionMatrix td {
	width: 16%;
}

table#typo3-permissionMatrix td.bgColor2 {
	padding-left: 10px;
	padding-right: 10px;
}