/* - - - - - - - - - - - - - - - - - - - - -
Context Sensitive Help (CSH)

$Id: element_csh.css 7906 2010-06-13 14:56:44Z ohader $
- - - - - - - - - - - - - - - - - - - - - */

a.typo3-csh-link span.typo3-csh-inline {
	display: none;
}

a.typo3-csh-link:hover span.typo3-csh-inline {
	display: block;
}