/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 backend scaffolding

$Id: main_scaffolding.css 7906 2010-06-13 14:56:44Z ohader $
- - - - - - - - - - - - - - - - - - - - - */

iframe {
	width: 100%;
}

#typo3-side-menu,
iframe {
	height: 100%;
	overflow: auto;
}