/* Selectors for the RemoveFormat plugin of htmlArea RTE */
/* TYPO3 SVN ID: $Id: htmlarea.css 8281 2010-07-26 23:18:50Z stan $ */
.htmlarea-action-remove-format {
	background-image: url('images/clean.gif') !important;
	background-position: 0 0 !important;
}
